footer {
    padding: 50px 100px;
}
.email-box {
   display: flex;
   align-items: center;
   justify-content: center; 
}
.email-box p {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.email-box p h3 {
    font-size: 22px;
    text-transform: none;
}
.email-box input {
    border: 1px solid #fff;
    outline: none;
    padding: 8px 10px;
    border-radius: 15px;  
    font-size: 13px;
    color: #fff;
    margin: 0 20px;
}
.email-box input::placeholder {
    color: #cbcbcb
}
.email-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;   
    padding: 8px 20px;
    border-radius: 20px;
    background: linear-gradient(90deg,#18a5a7,#b6c0c5);
    color: #fff;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.footer-card {
    width: 100%;
    padding-top: 40px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #fff;
}
.footer-card_content {
    display: flex;
    justify-content: space-between; 
    gap: 40px; 
}
.company-info {
    margin-left: 10px;
}
.logo {
    color: #016f97;
}
.company-logo span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
}
.company-detail {
    font-size: 13px;
    color: #84838a;
    margin-top: 5px;
}
.company-icons {
    font-size: 20px;
    color: #84838a;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.company-icon {
    transition: .35s;
}
.company-icon:hover {
    cursor: pointer;
    transform: translateY(-5px);
}
.footer-slogan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 13px;
    border-radius: 0 0 20px 20px;
    color: #fff; 
    background-color:#15a4b4 ;
    text-transform: uppercase;
}
.options {
    display: flex;
    gap: 60px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.col-header{
    font-size: 15px;
    font-weight: 500;
    /* color: gr; */
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
}
.col li{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 13px;
    padding: 0 10px;
    cursor: pointer;
    color: #84838a ;
    font-weight: 400;
    margin-bottom: 5px;
    transition: .35s ease;
}
.col li:hover {
    transform: translateX(8px);
    color: #016f97;
}

@media screen and (min-width:767px) and (max-width:1023px){
    footer {
        padding: 50px 20px;
    }
    .footer-card_content {
        flex-direction: column;
        padding: 0 50px;
    }
    .options {
        justify-content: space-between;
    }
}
@media screen and (max-width:767px) {
    footer {
        padding: 50px 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .email-box {
        display: inline-flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
    }
    .email-box input {
        width: 100%;
    }
    .email-box button {
        width: 100%;
    }
    .footer-card_content {
        flex-direction: column;
        padding: 0 10px;
    }
    .options {
        flex-wrap: wrap;
    }
    .footer-slogan {
        flex-direction: column;
    }
}